name: Benchmarks

on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

  workflow_dispatch:

env:
  WORK_DIR: ${{github.workspace}}/JUCE_modules/chowdsp_utils

jobs:
  build_and_run:
    name: Run benchmarks on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
      matrix:
        include:
          - os: ubuntu-24.04
            cmake_args: "-DCMAKE_LINKER_TYPE=MOLD -DCMAKE_C_COMPILER=clang-20 -DCMAKE_CXX_COMPILER=clang++-20"
#          - os: windows-2019
#            cmake_args: ""
#          - os: macos-latest
#            cmake_args: "-DCMAKE_BUILD_TYPE=Release"

    steps:
      - name: Install Linux Deps
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt install libasound2-dev libcurl4-openssl-dev libx11-dev libxinerama-dev libxext-dev libfreetype6-dev libwebkit2gtk-4.0-dev libglu1-mesa-dev libsamplerate-dev
          sudo apt-add-repository "deb http://apt.llvm.org/bullseye/ llvm-toolchain-bullseye-20 main"
          sudo apt install clang-20 -y

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{env.WORK_DIR}}

      - name: Set up environment
        working-directory: ${{github.workspace}}
        run: git clone --depth 1 --branch 8.0.10 https://github.com/juce-framework/JUCE.git

      - name: Configure
        working-directory: ${{env.WORK_DIR}}
        env:
          CMAKE_ARGS: ${{ matrix.cmake_args }}
        shell: bash
        run: cmake -Bbuild -G"Ninja Multi-Config" -DCHOWDSP_ENABLE_BENCHMARKS=ON $CMAKE_ARGS

      - name: Build
        working-directory: ${{env.WORK_DIR}}/build
        shell: bash
        run: cmake --build . --config Release --parallel 4

      - name: "Run Benchmarks"
        working-directory: ${{env.WORK_DIR}}/build/bench-binary
        shell: bash
        run: |
          for exe in *; do
            echo "RUNNING BENCHMARK: $exe"
            ./$exe;
          done
