name: Code-Quality

on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

  workflow_dispatch:

env:
  WORK_DIR: ${{github.workspace}}/JUCE_modules/chowdsp_utils

jobs:
  clang_tidy:
    name: "Run Code Quality Check: clang-tidy"
    runs-on: ubuntu-24.04

    steps:
      - uses: awalsh128/cache-apt-pkgs-action@latest
        name: Install Linux Deps
        if: runner.os == 'Linux'
        with:
          packages: clang-20 clang-tidy-20 libasound2-dev libx11-dev libxinerama-dev libxext-dev libfreetype6-dev libglu1-mesa-dev libsamplerate-dev
          version: 1.0

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{env.WORK_DIR}}

      - name: Set up environment
        working-directory: ${{github.workspace}}
        run: |
          git clone --depth 1 --branch 8.0.10 https://github.com/juce-framework/JUCE.git
          cd JUCE_modules
          git clone --single-branch --branch main --recursive https://github.com/free-audio/clap-juce-extensions.git

      - name: Configure
        working-directory: ${{env.WORK_DIR}}
        shell: bash
        run: cmake -Bbuild -G"Ninja Multi-Config" -DCHOWDSP_ENABLE_TESTING=ON -DCHOWDSP_CODE_QUALITY_CHECKS=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run clang-tidy
        working-directory: ${{env.WORK_DIR}}
        shell: bash
        run: cmake --build build --config Debug --parallel 4 --target chowdsp_utils_clang_tidy
