name: Examples

on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

  workflow_dispatch:

env:
  EXAMPLE_TARGETS: "ForwardingTestPlugin_CLAP ModalSpringReverb_CLAP SimpleEQ_CLAP StatefulPlugin_CLAP ExampleCompressor_CLAP"

jobs:
  build_examples:
    name: "Build Example ${{ matrix.target }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
      matrix:
        include:
          - os: ubuntu-24.04
            cmake_args: "-DCMAKE_LINKER_TYPE=MOLD -DCMAKE_C_COMPILER=clang-20 -DCMAKE_CXX_COMPILER=clang++-20"
          - os: windows-2022
            cmake_args: "-DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl"
          - os: macos-14
            cmake_args: ""

    steps:
      - uses: awalsh128/cache-apt-pkgs-action@latest
        name: Install Linux Deps
        if: runner.os == 'Linux'
        with:
          packages: clang-20 libasound2-dev libx11-dev libxcomposite-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libfontconfig1-dev libfreetype6-dev libglu1-mesa-dev libsamplerate-dev
          version: 1.0

      - uses: rui314/setup-mold@v1
        if: runner.os == 'Linux'

      - name: Upgrade LLVM
        if: runner.os == 'Windows'
        run: choco upgrade llvm --version=20.1.0 --allow-downgrade

      - name: Add msbuild to PATH
        if: runner.os == 'Windows'
        uses: microsoft/setup-msbuild@v2

      - name: Setup MSVC devcmd
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure
        shell: bash
        run: cmake -Bbuild -G"Ninja Multi-Config" -DCHOWDSP_ENABLE_EXAMPLES=ON ${{ matrix.cmake_args }}

      - name: "Build Example: ${{ matrix.target }}"
        shell: bash
        run: cmake --build build --config Debug --parallel 4 --target $EXAMPLE_TARGETS

      - name: run clap-validator
        uses: jatinchowdhury18/clap-val-action@main
        with:
          plugin_path: build/plugin_products/SimpleEQ.clap build/plugin_products/StatefulPlugin.clap build/plugin_products/ExampleCompressor.clap
          args: --only-failed --hide-output --invert-filter --test-filter "state-*|param-fuzz-basic"
